﻿body
{
font: "Trebuchet MS", Verdana, sans-serif;
/*background-color: #ff0000;*/
background: linear-gradient(to left, rgba(63, 156, 36, 0.83), rgba(63, 156, 36, 0.6));
color: #333c3b;
}
h1
{
border-bottom: 3px solid #cc9900;
font: Georgia, serif;
color: #996600;
}

table
{
background-color:rgba(63, 156, 36, 0.6);
border:1px solid #c3c3c3;
border-collapse:collapse;
width:100%;
text-align:left;
}
table th
{
background-color:#ccd1cb;
border:1px solid #c3c3c3;
padding:3px;
text-align:left;
}
table td 
{
border:1px solid #000000;
padding:3px;
text-align:left;
}
