﻿@model IEnumerable<WebApplication2.Models.Event>
<script src="~/scripts/Clock.js"></script>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">

        function FullScreenMode() {
            var wscript = new ActiveXObject("WScript.Shell");
            if (wscript != null) {
                wscript.SendKeys("{F11}");
            }
        }
    </script>

    <script>
        function DiplayClock() {
            var currentTime = updateClock();
            document.getElementById("clock").firstChild.nodeValue = currentTime;
        }
    </script>
    
   

</head>
<body onload="DiplayClock(); setInterval('DiplayClock()', 1000);">
  
       <script type="text/javascript">FullScreenMode();</script>

        <div class="date-time">
            <span id="clock">&nbsp;</span>
        </div>

        @{
            int i = 0;

            foreach (var model in Model)
            {

                i++;
            } }
        <p>
            <h1>Events for CR : @Model.First().RoomName</h1>
        </p>
        @{
            DateTime CurTime = DateTime.Now;

            if (Model.First().StartTime != "0")
            {
                foreach (var model in Model)
                {
                    if ((CurTime >= (DateTime.Parse(model.StartTime))) && (CurTime <= (DateTime.Parse(model.EndTime))))
                    {
                        <h3> Conference room is occupied now! </h3>
                        string EndTime = model.EndTime;
                        string StartTime = model.StartTime;
                        string Requestor = model.Requestor;
                        string Subject = model.Subject;

                        <h4>Start time : @StartTime</h4>
                        <h4>End time : @EndTime</h4>
                        <h4>Requestor : @Requestor</h4>
                        <h4>Subject : @Html.Raw(Subject)</h4>
                        string EndMin = (DateTime.Parse(model.EndTime) - CurTime).ToString();

                        <h2>Ends in : @EndMin</h2>
                    }

                    else if ((CurTime < (DateTime.Parse(model.StartTime))) && (CurTime < (DateTime.Parse(model.EndTime))))
                    {

                        <h3> Conference room is free now! </h3>
                        string EndTime = model.EndTime;
                        string StartTime = model.StartTime;
                        string Requestor = model.Requestor;
                        string Subject = model.Subject;

                        TimeSpan ts = (CurTime - DateTime.Parse(model.StartTime));
                        ts = ts.Negate();
                        string EndMin = ts.ToString();
                        <p>
                            <h2>Next event starts in : @EndMin</h2>

                            <h4>Start time : @StartTime</h4>
                            <h4>End time : @EndTime</h4>
                            <h4>Requestor : @Requestor</h4>
                            <h4>Subject : @Html.Raw(Subject) </h4>
                        </p>
                    }
                }
            }
            else
            {
                @:<h3> Conference room is free now </h3>
        }
        }

        @if (Model.First().StartTime == "0")
        {
            @:<h2>There are no events for today yet</h2>
                            }
        else
        {
            @:<h3> Conference room is free now </h3>
            <h2>Events for today : @i.ToString()</h2>
                                <table class="table">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StartTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EndTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Subject)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Requestor)
                                        </th>
                                        <th></th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StartTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EndTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Subject)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Requestor)
                                            </td>
                                        </tr>
                                    }
                                </table>
        }
    </body>

</html>
